[content-editable] {
  cursor: pointer;
  border: 1px solid lightblue;
}

.control-panel {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 40px;
}
.control-panel p {
  color: white;
  margin: 0px 0px 0px 40px;
  text-align: right;
  line-height: 35px;
  padding: 0 5px;
}
.control-panel a {
  color: purple;
  text-transform: none;
}

.left {
  float: left;
}

a.toggle-control-panel {
  background: #ccc;
  position: absolute;
  left: 0;
  z-index: 10000;
  display: block;
  top: 0;
  padding: 10px;
  text-decoration: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 5px 0;
  height: 19px;
  font-size: 24px;
  line-height: 20px;
}
